<!DOCTYPE html>
<html>
  <head>
    <title>
$NAME$
    </title>
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="wrapper">
      <div id="navbar">
        <ul>
          <a href="index.cgi"><li>Home</li></a>
          <a href="problem_list.cgi"><li>Problems</li></a>
          <a href="faq.cgi"><li>FAQ</li></a>
          <a href="feedback.cgi"><li>Feedback</li></a>
        </ul>
      </div>
      <div id="content">
$TEMPLATE_CONTENT$</div>
      <div id="footer">$FOOTER$</div>
    </div>
  </body>
</html>
